<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <meta name='darkreader-lock'/>
    <title>Fade Scroll</title>
    <link rel='stylesheet' href='/fade-scroll.css'/>
    <link rel='stylesheet' href='/index.css'/>
    <script src='/index.js'></script>
  </head>
  <body>
    <h1>Fade Scroll Demo</h1>

    <%- include('ejs/basic-usage'); %>

    <hr/>

    <%- include('ejs/hidden-scrollbars'); %>

    <hr/>

    <%- include('ejs/sideways-scrolling'); %>

    <hr/>

    <h2>Horizontal Examples</h2>

    <%- include('ejs/breadcrumb'); %>

    <%- include('ejs/tabs'); %>

    <hr/>

    <h2>Vertical Examples</h2>

    <%- include('ejs/table-of-contents'); %>

    <%- include('ejs/hamburger'); %>
  </body>
</html>
